.controllerWrapper.index-page(ng-controller='indexTR as ixVM', ng-if="rVM.Auth.isTranslator")
	.container-fluid
		.row
			#results.col-12.px-3.mt-4
				.col.py-3.px-5.pointerCursor.sectionHeader(data-toggle="collapse", role="button", data-target="#resultsCollapse", aria-expanded="true", aria-controls="resultsCollapse", filter-color="black")
					h4.m-0.text-white.text-capitalize {{rVM.Lang.lang.wordsToTranslate}}
						i.float-right.fas.fa-chevron-down
				#resultsCollapse.show.collapse(in-view-container)
					.col-12.px-2.py-4.bg-white(ng-if="rVM.Auth.user.region")
						.row.justify-content-center.mb-5
							//.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
								.form-group
									label.text-muted {{rVM.Lang.lang.translatePhrase}}:
									input.form-control(required, type="text", ng-model="ixVM.Translate.search.phrase")
							.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
								.form-group
									label.text-muted {{rVM.Lang.lang.docType}}:
									select.form-control(ng-model="ixVM.Doc.searchSSR.types", ng-change="ixVM.doChange();")
										option(value="1") {{rVM.Lang.lang.docTypeNoun}}
										option(value="2") {{rVM.Lang.lang.docTypeVerb}}
										option(value="3") {{rVM.Lang.lang.docTypeAdjetive}}
										option(value="4") {{rVM.Lang.lang.docTypeAdverb}}
					.col-12.px-2.py-4.bg-white
						.table-responsive
							table.table.table-bordered
								thead.bg-info.text-white
									tr
										th.text-uppercase(scope="col") {{rVM.Lang.lang.docPalabra}}
										th.text-uppercase(scope="col") {{rVM.Lang.lang.docType}}
										//th.text-uppercase(scope="col") {{rVM.Lang.lang.docSinonims}}
										th.text-uppercase(scope="col") {{rVM.Lang.lang.accions}}
								tbody
									tr(ng-repeat='item in ixVM.Doc.itemsSSR')
										td.text-uppercase(scope="col")
											span {{item.fields.base}}
										td.text-uppercase(scope="col")
											div(ng-repeat="option in ixVM.schema.type._$options")
												span(ng-if="option.value == item.fields.type") {{rVM.Lang.lang[option.option]}}
										//td.text-uppercase(scope="col")
											span {{item.fields['key_'+rVM.Auth.user.region]}}
										td.text-uppercase 
											a.btn.rounded.btn-info(ui-sref="base.word({id : item.id})")
												i.fas.fa-book
				div(ng-if="ixVM.Doc.itemsSSR.length > 0 && ixVM.Doc.itemsSSR.length != ixVM.Doc.totalSSR", in-view="$inview && ixVM.loadMore($inview)") 
					| {{rVM.Lang.lang.loading}}...



.controllerWrapper.index-page(ng-controller='index as ixVM', ng-if="rVM.Auth.isAdmin")
	.clear-filter(filter-color="orange")
		.container-fluid#edit
			.row.justify-content-center
				.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.px-3.mt-4.justify-content-center
					.col-12.py-3.px-5.pointerCursor.sectionHeader(data-toggle="collapse", role="button", data-target="#editCollapse", aria-expanded="true", aria-controls="translateCollapse", filter-color="black")
						h4.m-0.text-white.text-capitalize {{rVM.Lang.lang.editProfile}}
							i.float-right.fas.fa-chevron-down
					#editCollapse.show.collapse.col.col-12.p-4.bg-white
						form.col(ng-submit="ixVM.sendPut();")
							.row.justify-content-center.mb-5
								.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
									.form-group
										label.text-muted {{rVM.Lang.lang.userEmail}}:
										input.form-control(placeholder="{{rVM.Lang.lang.userEmail}}", ng-model="ixVM.User.updateSelf.email", type="email")
								.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
									.form-group
										label.text-muted {{rVM.Lang.lang.userPassword}}:
										input.form-control(placeholder="{{rVM.Lang.lang.userPassword}}", ng-model="ixVM.User.updateSelf.password", minlenghth="8", type="password")
								.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center
									button.btn.btn-primary.btn-block(type="submit") {{rVM.Lang.lang.edit}}
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.col.py-3.px-5.pointerCursor.sectionHeader(data-toggle="collapse", role="button", data-target="#watsonCollapse", aria-expanded="true", aria-controls="watsonCollapse", filter-color="black")
						h4.m-0.text-white.text-capitalize {{rVM.Lang.lang.useWatson}}
							i.float-right.fas.fa-chevron-down
					#watsonCollapse.show.collapse.col.p-4.bg-white
						ul.messages.col
							li.message(ng-repeat="message in ixVM.Watson.messages  | limitTo : 6")
								div(ng-class="{'watson': message.watson}")
									span(ng-bind-html="message.message")
						form.col(ng-submit="ixVM.submitMessage();")
							.row.justify-content-center.mb-5
								.col-8.col-sm-8.col-md-10.col-lg-10.col-xl-10
									.form-group
										input.form-control(placeholder="{{rVM.Lang.lang.message}}", required, type="text", ng-model="ixVM.Watson.insert.text", ng-disabled="ixVM.Watson.ongoingInsert")
								.col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2
									button.btn.btn-primary.btn-block.m-0(type="submit", ng-disabled="ixVM.Watson.ongoingInsert") {{rVM.Lang.lang.send}}
		.container-fluid(ng-if="!rVM.Auth.isUser")
			.row
				.col-12.px-3.mt-4
					.col.py-3.px-5.pointerCursor.sectionHeader(data-toggle="collapse", role="button", data-target="#translateCollapse", aria-expanded="true", aria-controls="translateCollapse", filter-color="black")
						h4.m-0.text-white.text-capitalize {{rVM.Lang.lang.translate}}
							i.float-right.fas.fa-chevron-down
					#translateCollapse.show.collapse.col.p-4.bg-white
						form.col(ng-submit="ixVM.Translate.doSearch();")
							.row.justify-content-center.mb-5
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted {{rVM.Lang.lang.translatePhrase}}:
										input.form-control(required, type="text", ng-model="ixVM.Translate.search.phrase")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted {{rVM.Lang.lang.docRegion}}:
										select.form-control(ng-options="item.value as rVM.Lang.lang[item.option] for item in ixVM.secondSchema.region._$options track by item.value", ng-model="ixVM.Translate.search.toRegion")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted {{rVM.Lang.lang.docGrado}}:
										select.form-control(ng-options="item.value as rVM.Lang.lang[item.option] for item in ixVM.secondSchema.grado._$options track by item.value", ng-model="ixVM.Translate.search.toGrade")
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.form-group
										label.text-muted {{rVM.Lang.lang.translateInclusive}}:
										select.form-control(ng-model="ixVM.Translate.search.inclusive")
											option(value="{{true}}") {{rVM.Lang.lang.yes}}
											option(value="{{false}}") {{rVM.Lang.lang.no}}
								.col-12
									button.btn.btn-primary.btn-block(type="submit") {{rVM.Lang.lang.send}}
								.col-12(ng-if="ixVM.Translate.phrase")
									h4.text-center {{rVM.Lang.lang.translateResults}}
									h5 {{ixVM.Translate.phrase}}
		.container-fluid(ng-if="!rVM.Auth.isUser")
			.row
				.col-12.px-3.mt-4
					.col.py-3.px-5.pointerCursor.sectionHeader(data-toggle="collapse", role="button", data-target="#identifyCollapse", aria-expanded="true", aria-controls="identifyCollapse", filter-color="black")
						h4.m-0.text-white.text-capitalize {{rVM.Lang.lang.identifyPhrase}}
							i.float-right.fas.fa-chevron-down
					#identifyCollapse.show.collapse.col.p-4.bg-white
						form.col(ng-submit="ixVM.Translate.doIdentify();")
							.row.justify-content-center.mb-5
								.col-12
									h6 {{rVM.Lang.lang.docType}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docTypeUnknown}}
										span.wordtype_1
											| {{rVM.Lang.lang.docTypeNoun}}
										span.wordtype_2
											| {{rVM.Lang.lang.docTypeVerb}}
										span.wordtype_3
											| {{rVM.Lang.lang.docTypeAdjetive}}
										span.wordtype_4
											| {{rVM.Lang.lang.docTypeAdverb}}
										span.wordtype_7
											| {{rVM.Lang.lang.docTypeArticle}}
									h6 {{rVM.Lang.lang.docSentiment}}
									.phraseHolder
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentExtremlyNegative}}
											span.sentimentLevel -5
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentVeryNegative}}
											span.sentimentLevel -4
										span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentNegative}}
											span.sentimentLevel -3
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentSomewhatNegative}}
											span.sentimentLevel -2
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentSlightlyNegative}}
											span.sentimentLevel -1
										span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentNeutral}}
											span.sentimentLevel 0
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentSlightlyPositive}}
											span.sentimentLevel 1
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentSomewhatPositive}}
											span.sentimentLevel 2
										span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentPositive}}
											span.sentimentLevel 3
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentVeryPositive}}
											span.sentimentLevel 4
										//span.wordtype_-1
											| {{rVM.Lang.lang.docSentimentExtremlyPositive}}
											span.sentimentLevel 5
									h6 {{rVM.Lang.lang.docVerbType}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docInfinitive}}
											span.verbType
												span I
										span.wordtype_-1
											| {{rVM.Lang.lang.docParticipio}}
											span.verbType
												span P
										span.wordtype_-1
											| {{rVM.Lang.lang.docGerundio}}
											span.verbType
												span G
									h6 {{rVM.Lang.lang.docAdverbType}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeTime}}
											span.adverbType
												i.fas.fa-clock
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypePlace}}
											span.adverbType
												i.fas.fa-map-marker
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeMode}}
											span.adverbType
												span M
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeQuantity}}
											span.adverbType
												span C
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeAfirmation}}
											span.adverbType
												i.fas.fa-check
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeNegation}}
											span.adverbType
												i.fas.fa-times
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeDoubt}}
											span.adverbType
												i.fas.fa-question
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeExclusion}}
											span.adverbType
												i.fas.fa-plus
										span.wordtype_-1
											| {{rVM.Lang.lang.docAdverbTypeInclusion}}
											span.adverbType
												i.fas.fa-minus
									h6 {{rVM.Lang.lang.docSustantiveType}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeHuman}}
											span.sustantiveType
												i.fas.fa-male
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeProfession}}
											span.sustantiveType
												i.fas.fa-user-astronaut
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeName}}
											span.sustantiveType
												span N
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeLastname}}
											span.sustantiveType
												span A
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeAnimal}}
											span.sustantiveType
												i.fas.fa-paw
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeInnanimateObject}}
											span.sustantiveType
												i.fas.fa-car
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeIdea}}
											span.sustantiveType
												i.fas.fa-lightbulb
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypePlace}}
											span.sustantiveType
												i.fas.fa-home
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeGeographicPlace}}
											span.sustantiveType
												i.fas.fa-map-marker
										span.wordtype_-1
											| {{rVM.Lang.lang.docSustantiveTypeBrand}}
											span.sustantiveType
												i.fas.fa-tags
									h6 {{rVM.Lang.lang.docGender}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docGenderMale}}
											i.fas.fa-mars
										span.wordtype_-1
											| {{rVM.Lang.lang.docGenderFemale}}
											i.fas.fa-venus
										span.wordtype_-1
											| {{rVM.Lang.lang.docGenderNeutral}}
											i.fas.fa-neuter
									h6 {{rVM.Lang.lang.docQuantity}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docSingular}}
											i.fas.fa-user
										span.wordtype_-1
											| {{rVM.Lang.lang.docPlural}}
											i.fas.fa-users
									h6 {{rVM.Lang.lang.docGrado}}
									.phraseHolder
										span.wordtype_-1
											| {{rVM.Lang.lang.docGradoFormal}}
											i.fas.fa-star
										span.wordtype_-1
											| {{rVM.Lang.lang.docGradoCasual}}
											i.fas.fa-star-half
										span.wordtype_-1
											| {{rVM.Lang.lang.docGradoInformal}}
											i.fas.fa-smile
										span.wordtype_-1
											| {{rVM.Lang.lang.docGradoVeryInformal}}
											i.fas.fa-poo
								.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
									.form-group
										label.text-muted {{rVM.Lang.lang.identifyPhrase}}:
										input.form-control(required, type="text", ng-model="ixVM.Translate.identify.phrase")
								.col-12
									button.btn.btn-primary.btn-block(type="submit") {{rVM.Lang.lang.send}}
								.col-12(ng-if="ixVM.Translate.identifyPhrase")
									h6 {{rVM.Lang.lang.identifyResults}}
									.phraseHolder
										span(ng-repeat="piece in ixVM.Translate.identifyPhrase", class="wordtype_{{piece.type}} region_{{piece.region}} gender_{{piece.gender}}") 
											| {{piece.word}}
											div(ng-if="piece.region")
												span.flag-icon.flag-icon-squared.flag-icon-ar(ng-if="piece.region == 1")
												span.flag-icon.flag-icon-squared.flag-icon-bo(ng-if="piece.region == 2")
												span.flag-icon.flag-icon-squared.flag-icon-cl(ng-if="piece.region == 3")
												span.flag-icon.flag-icon-squared.flag-icon-co(ng-if="piece.region == 4")
												span.flag-icon.flag-icon-squared.flag-icon-cr(ng-if="piece.region == 5")
												span.flag-icon.flag-icon-squared.flag-icon-cu(ng-if="piece.region == 6")
												span.flag-icon.flag-icon-squared.flag-icon-ec(ng-if="piece.region == 7")
												span.flag-icon.flag-icon-squared.flag-icon-sv(ng-if="piece.region == 8")
												span.flag-icon.flag-icon-squared.flag-icon-es(ng-if="piece.region == 9")
												span.flag-icon.flag-icon-squared.flag-icon-gt(ng-if="piece.region == 10")
												span.flag-icon.flag-icon-squared.flag-icon-hn(ng-if="piece.region == 11")
												span.flag-icon.flag-icon-squared.flag-icon-mx(ng-if="piece.region == 12")
												span.flag-icon.flag-icon-squared.flag-icon-ni(ng-if="piece.region == 13")
												span.flag-icon.flag-icon-squared.flag-icon-pa(ng-if="piece.region == 14")
												span.flag-icon.flag-icon-squared.flag-icon-py(ng-if="piece.region == 15")
												span.flag-icon.flag-icon-squared.flag-icon-pe(ng-if="piece.region == 16")
												span.flag-icon.flag-icon-squared.flag-icon-pr(ng-if="piece.region == 17")
												span.flag-icon.flag-icon-squared.flag-icon-do(ng-if="piece.region == 18")
												span.flag-icon.flag-icon-squared.flag-icon-uy(ng-if="piece.region == 19")
												span.flag-icon.flag-icon-squared.flag-icon-ve(ng-if="piece.region == 20")
											div(ng-if="piece.grado")
												i.fas.fa-star(ng-if="piece.grado == 1")
												i.fas.fa-star-half(ng-if="piece.grado == 2")
												i.fas.fa-smile(ng-if="piece.grado == 3")
												i.fas.fa-poo(ng-if="piece.grado == 4")
											div(ng-if="piece.type == 2")
												span.verbType(ng-if="piece.isInfinitive") 
													span I
												span.verbType(ng-if="piece.isParticipio") 
													span P
												span.verbType(ng-if="piece.isGerundio") 
													span G
											div(ng-if="piece.type == 4")
												span.adverbType(ng-if="adverbType == 1")
													i.fas.fa-clock
												span.adverbType(ng-if="adverbType == 2")
													i.fas.fa-map-marker
												span.adverbType(ng-if="adverbType == 3")
													span M
												span.adverbType(ng-if="adverbType == 4")
													span C
												span.adverbType(ng-if="adverbType == 5")
													i.fas.fa-check
												span.adverbType(ng-if="adverbType == 6")
													i.fas.fa-times
												span.adverbType(ng-if="adverbType == 7")
													i.fas.fa-question
												span.adverbType(ng-if="adverbType == 8")
													i.fas.fa-plus
												span.adverbType(ng-if="adverbType == 9")
													i.fas.fa-minus
											
											div(ng-if="piece.type == 1")
												span.sustantiveType(ng-if="piece.sustantiveType == 1")
													i.fas.fa-male
												span.sustantiveType(ng-if="piece.sustantiveType == 2")
													i.fas.fa-user-astronaut
												span.sustantiveType(ng-if="piece.sustantiveType == 3")
													span N
												span.sustantiveType(ng-if="piece.sustantiveType == 4")
													span A
												span.sustantiveType(ng-if="piece.sustantiveType == 5")
													i.fas.fa-paw
												span.sustantiveType(ng-if="piece.sustantiveType == 6")
													i.fas.fa-car
												span.sustantiveType(ng-if="piece.sustantiveType == 7")
													i.fas.fa-lightbulb
												span.sustantiveType(ng-if="piece.sustantiveType == 8")
													i.fas.fa-home
												span.sustantiveType(ng-if="piece.sustantiveType == 9")
													i.fas.fa-map-marker
												span.sustantiveType(ng-if="piece.sustantiveType == 10")
													i.fas.fa-tags
											div(ng-if="piece.gender")
												i.fas.fa-mars(ng-if="piece.gender == 'male'")
												i.fas.fa-venus(ng-if="piece.gender == 'female'")
												i.fas.fa-neuter(ng-if="piece.gender == 'neutral'")
											div(ng-if="piece.sentiment !== undefined")
												span.sentimentLevel {{piece.sentiment}}
											div(ng-if="piece.plural !== undefined")
												i.fas.fa-users(ng-if="piece.plural")
												i.fas.fa-user(ng-if="!piece.plural")